<h1>
    Page Todos list (also by listId: {{list.id}})
</h1>

<h2>
    {{list.name}}
</h2>

<ul>
    {{!-- HELPER hi handlebars --}}
    {{#each todos}}
        <li>
            
            {{this.todo}}
            
        </li>
    {{/each}}
</ul>