{{!-- 
    Template Generale
    Da qui viene renderizzato tutte le pagine HTML presenti su "views" o "partials"
 --}}
<!doctype html>
<html lang="en">
  <head>
    
      {{> header}}
  </head>

  <body>
    <!-- NavHeader: passo come parametro THIS per ottenere le info -->
    {{!-- {{> navheader title="Hello" pQuery=queryVar this}} --}}
    {{> navheader this}}

    <!-- Begin page content -->
    <main role="main" class="container">
      {{{body}}}
    </main>

    {{> footer}}
   
  </body>
</html>
