<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>Express Todo List</title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

<!-- Bootstrap core CSS -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- CSS public/css/style.css -->
<link href="/public/css/style.css" rel="stylesheet">

<!-- sweetalert2 -->
<link href="/sweetalert2/sweetalert2.min.css" rel="stylesheet">


<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

{{!-- Font Awesome --}}
<script src="https://kit.fontawesome.com/353f331d7c.js" crossorigin="anonymous"></script>

<!-- JS public-->
<script src="/public/js/script.js"></script>


<!-- JS sweetalert2-->
<script src="/sweetalert2/sweetalert2.min.js"></script>