{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">
            {{this}}            
        </div>        
    {{/each}}
{{/if}}

{{#if messages}}
    {{#each messages}}
        <div class="alert alert-success">
            {{this}}
            successo
        </div>        
    {{/each}}
{{/if}}

<form method="post" action="/todos" name="todo" id="todoForm">
    {{!-- INPUT PER PASSARE IL PARAMETRO listId in post --}}
    <input type="hidden" name="listId" value={{listId}}>
    <div class="row d-flex flex-row">
        <div class="col-md-9 form-group">
            <input class="form-control" minlength="6" placeholder="INSERT NEW TODO" type="text" name="todo" value="{{name}}" required> 
        </div>
        <div class="col-md-3 form-group">
            <button class="btn btn-success" title="Insert List" value="SAVE">SAVE</button>
        
            {{#if showBackButton}}
                <button class="btn btn-warning text-white" title="Back to list" onclick="location.href='/todos' " value="BACK">BACK</button>
            {{/if}}

        </div>
    </div>
</form>


<script>
    // {{!-- DELETE || PATCH --}}
    function updateList(btn){
        const method = document.getElementById('method');
        const form = document.getElementById('todoForm');

        btn.value==='DELETE' ? method.value = 'DELETE' : method.value = 'PATCH';

        // {{!-- document.forms.list.submit(); --}}
        form.submit();
        console.log("Value", btn.value);
    }

</script>